// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
$primary: #dfb775;
$secondary: #82bad9;
// *************************

/*
https://coolors.co/120000-323637-747e80-82bad9-f2583e-dfb775-f5b467-ecebea
*/
