// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

//Demo Day Button
.demo-day-btn {
  display: flex;
  border: transparent;
  border-radius: 5px;
  padding: 5px 15px;
  background: linear-gradient(to bottom left, #f2583e 0%, #f5b467 100%);
  color: black;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;

  .btn-item {
    text-align: center;
    text-decoration: none;

    a {
      text-decoration: none;
    }
  }
}

//Capstone button
.cap-btn {
  align-self: center;
  // width: 80%;
  padding: 5px 15px;
  margin: 5px;
  border: transparent;
  background-color: $gray;
  color: white;
  cursor: pointer;
}

//Podcast Player section
.pod-player {
  margin: 5px;
}
