// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

//Demo Day Button
.demo-day-btn {
  display: flex;
  border: transparent;
  border-radius: 5px;
  background: linear-gradient(to bottom left, #f2583e 0%, #f5b467 100%);
  color: black;
  font-size: 1em;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  padding: 5px 15px;
  margin: 5px 0px;

  .btn-item {
    font-size: 0.75em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    a {
      text-decoration: none;
    }
  }
}

//Capstone button
.cap-btn {
  align-self: center;
  width: 250px;
  padding: 5px 15px;
  margin: 5px;
  border: transparent;
  border-radius: 8px;
  background-color: $gray;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3px;
  background-image: linear-gradient(#444c4c, #747e80);
  // box-shadow: 2px 2px 1px grey;
}

//Podcast Player section
.pod-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 10px;
  // max-width: 70%;
  padding: 7px 20px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid lightgray;

  // a {
  //   color: #cccccc;
  //   text-decoration: none;
  // }

  // div {
  //   font-size: 10px;
  //   color: #cccccc;
  //   line-break: anywhere;
  //   word-break: normal;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
  //     Garuda, Verdana, Tahoma, sans-serif;
  //   font-weight: 100;
  //   border: 1px solid lightgray;
  // }
}
