// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

//Demo Day Button
.demo-day-btn {
  display: flex;
  justify-content: center;
  border: transparent;
  border-radius: 5px;
  background: linear-gradient(to bottom left, #f2583e 0%, #f5b467 100%);
  color: black;
  white-space: nowrap;
  padding: 5px 10px;
  margin: 0px;

  .btn-item {
    // font-size: 0.75em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }
}
