.cta-section__block {
  background-color: $platinum;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 320px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;

  .cta-text {
    margin: 5px 15px;
    text-align: center;
    font-weight: 600;
  }

  .cta-section {
    margin: 5px 15px;
  }

  .cta-section > * {
    font-size: 1.3em;
    text-decoration: none;
  }
}
