.cta-section__block {
  background-color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 320px;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 6rem;

  .link__no-underline {
    text-decoration: none;
  }

  .cta__text {
    text-align: center;
  }
}

.cta-section__block > * {
  margin-inline: 0.5rem;
}
