// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Montserrat" !default;
@import url($web-font-path);

@import "./_colors.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import custom styles
// @import "./checkbox.scss";
//some other examples: https://github.com/brendalong/christmas-list/blob/main/src/scss/custom.scss
// Header ======================================================================
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar__left {
}

.nav-bar__middle {
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu__item {
}

.nav-bar__right {
}

// Buttons =====================================================================
