// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

@import "./_colors.scss";
@import "./buttons.scss";
@import "./navbar.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import custom styles
// @import "./checkbox.scss";
//some other examples: https://github.com/brendalong/christmas-list/blob/main/src/scss/custom.scss

//Main styling =========================
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Space Mono",
    "Roboto", "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace, sans-serif;
}
