// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $platinum;
  padding-top: 110px;
  z-index: 1;
  position: relative;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  width: 500px;
  margin: 70px;
}

.logo-img {
  width: 100%;
}

.description-section__about {
  min-width: 360px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 35px;
  background-image: url("../images/description-bg.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right bottom;

  h1 {
    min-width: 320px;
    max-width: 90%;
    color: $midnight;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
  }

  h2 {
    min-width: 320px;
    max-width: 90%;
    margin-bottom: 10px;
  }

  p {
    color: $midnight;
    min-width: 320px;
    max-width: 90%;
    font-size: 1.4rem;
  }

  a {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 500;
    color: #df9f38; //custom for readability
  }

  span {
    white-space: nowrap;
  }
}

.fullstack {
  background-color: $mustard;
  color: $space;
  border-radius: 6px;
  padding: 1px 5px;
}

.uiux {
  color: #323637;
  background-color: $blue;
  border-radius: 6px;
  padding: 1px 5px;
}

.description-section__demoday {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.2rem;
  min-width: 320px;
  width: 90%;

  a {
    padding: 0px;
    margin: 0px;
  }
}
