// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

#description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 600px;
  margin-top: 150px;
  margin-right: 100px;

  h1 {
    color: $midnight;
    padding-bottom: 20px;
  }
  p {
    color: $midnight;
    padding-bottom: 20px;
  }

  a {
    color: $orange;
    text-decoration: none;
  }

  .rsvp {
    margin-left: 0px;
    }
}


img.logo__img {
  width: 494px;
  float: left;
  padding: 50px;
}
