// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

//Developer Section
#devList {
  scroll-margin-top: 90px;
}

//Developer Section

.dev-list__section {
  background-color: $space;
  padding-block: 1rem;
  padding-top: 30px;

  .devList__title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0px 20px;
  }

  .scrolling-text__block {
    position: relative;
    margin: 2.5rem auto 3rem;
  }
}

//Developer List
.dev-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0px;
  width: 100%;
  flex-wrap: wrap;
}

//Developer Card
.dev-card {
  background-image: linear-gradient(180deg, #747e80 28%, #ecebea 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 320px;
  margin: 15px;
  border-radius: 12px;

  // Dev Card Title Block *********************************************

  .dev-card-title__block {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }

  .dev-card-title__block.full-stack {
    background-color: #dfb775;
  }

  .dev-card-title__block.front-end {
    background-color: #82bad9;
  }

  .dev-card__title {
    font-family: "Space Mono", sans-serif;
    font-weight: bold;
    color: $midnight;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }

  // Dev Card Body *********************************************
  .dev-card__body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  //Dev pic
  .dev-card__pic {
    img {
      border-radius: 50%;
    }
    //this className corresponds to one of the return values of borderColor
    .fsYellow {
      border: $mustard solid 7px;
      // border-radius: 50%;
    }
    //this className corresponds to one of the return values of borderColor
    .feBlue {
      border: $blue solid 7px;
      // border-radius: 50%;
    }
  }

  //Dev name
  .dev-card__name {
    font-family: "Poppins", sans-serif;
    color: #120000;
    font-size: x-large;
    padding-top: 15px;
    text-align: center;
    font-weight: 700;
  }

  //Dev Card media icons - styling for actual icons found in icons.scss
  .dev-card__icons {
    display: flex;
    justify-content: center;
  }

  // interests and facts container
  .fact-container {
    border: 1px #747e80 solid;
    border-radius: 5px;
    background-color: white;
    padding: 0.5rem;
    height: 13ex;
    width: 32ex;
  }

  //Dev facts
  .dev-card__fact {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
  }

  // Dev Card Actions ****************************************
  .dev-card__actions {
    width: 100%;
    padding: 0 1rem 1rem;
    text-align: center;
  }

  .dev-card-button__block {
    div {
      transition: 400ms;
      padding: 5px 15px;
      border: transparent;
      border-radius: 8px;
      background-color: #747e80;
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 5px;
      margin: 0 0 0.5rem;
    }

    a {
      text-decoration: none;
    }

    .feButtonBlue,
    .fsButtonYellow {
      background-color: $gray;
      color: $platinum;
    }

    .feButtonBlue:hover {
      background-color: $blue;
      color: $midnight;
      transform: translateY(-2px) translateZ(0);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
    }

    .fsButtonYellow:hover {
      background-color: $mustard;
      color: $midnight;
      transform: translateY(-2px) translateZ(0);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
    }
  }
}
