// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

//Developer List section
.dev-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  background-color: $space;
  width: 100%;
  flex-wrap: wrap;
}

//Developer Card
.dev-card {
  background-image: linear-gradient(180deg, #747e80 25%, #ecebea 0, #ecebea 10%);
  // background-image: linear-gradient(180deg, #747e80 0 30%, #ecebea 50% 100%);
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 320px;
  margin: 15px;
  border-radius: 12px;
  
  p {
    font-size: small;
    font-weight: bold;
    font-size: 1em;
  }

  .dev-card__title {
    
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #ecebea;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .dev-card__pic {
     img {
    
    border-radius: 50%; 
        }
    .fsYellow {
      border: $mustard solid 7px;
      border-radius: 50%; 
          }
    .feBlue {
      border: $blue solid 7px;
      border-radius: 50%; 
          }
    }
  .interest-fact__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    border: #747e80 solid ;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    max-width: 250px;
    min-height: 250px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .dev-card__name {
   
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color:#120000;
    font-size: x-large;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .dev-card__interests {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    padding-right: 5px;
    margin-top: -20px;
  }

  .dev-card__fact {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    margin-top: -20px;
    padding-right: 5px;
  }

  //Dev Card media icons
  .dev-card__icons {
    text-align: center;
  }

  //Capstone and Podcast buttons
  .dev-card__capstone {
    width: 80%;
    align-self: center;
    text-align: center;
  }

  .dev-card__podcast {
    align-self: center;
    text-align: center;
  }
}
