/*      CHECKBOX         */
// @import "FaRegHeart" from 'react-icons';


input[type="checkbox"] {
	display: none;
  }

  input[type="checkbox"] + span{
	// content: "♡";
	display: inline-block;
	position: relative;
	top: -1px;
	width: 20px;
	height: 30px;
	margin: -1px 0px 0 0;
	vertical-align: middle;
	background: url("logo192.png") center/150% no-repeat;
	// border: 1px solid #ccc;
	cursor: pointer;
  }

//   input[type="checkbox"] + span:after{
// 	content: "♡";
//   }


//   input[type="checkbox"]:checked + span {
// 	background: $orange -19px top no-repeat;
//   }
  
//   input[type="checkbox"] + span {
// 	margin-right: 4px;
//   }

  input[type=checkbox]:checked + span:after {
    content: "💖";
    // background: #0a0;
}
 
/*                       */