/*      CHECKBOX         */
// @import "FaRegHeart" from 'react-icons';

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span:after {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  width: 24px;
  height: 24px;
  margin: -1px 0px 0 0;
  vertical-align: middle;
  background: url("../images/favorite-border.svg") center no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + span:after {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  width: 24px;
  height: 24px;
  margin: -1px 0px 0 0;
  vertical-align: middle;
  background: url("../images/favorite.svg") center no-repeat;
}
