// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

.media-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 2px;

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto 7px;
  }

  .feButtonBlue {
    svg {
      color: $space;
      cursor: pointer;
      transition: 400ms all; /* this controls how smooth hover effect is */
    }

    svg:hover {
      color: $blue;
      transform: scale(1.2);
    }
  }

  .fsButtonYellow {
    svg {
      color: $space;
      cursor: pointer;
      transition: 400ms all;
    }

    svg:hover {
      color: $mustard;
      transform: scale(1.2);
    }
  }

  .linkedin a {
    font-size: 44px;
    margin: auto 2px auto 5px;
  }

  .mail a {
    font-size: 64px;
    padding-bottom: 3px;
  }

  .git a {
    font-size: 46px;
    margin: auto;
  }

  .web a,
  .resume a {
    margin: auto 5px;
  }
}
