// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

.media-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .feButtonBlue {
    cursor: pointer;
    transition: 150ms all; /* this controls how smooth hover effect is */

    svg {
      color: $space;
    }

    svg:hover {
      color: $blue;
      transform: scale(1.2);
    }
  }

  .fsButtonYellow {
    cursor: pointer;
    transition: 150ms all; /* this controls how smooth hover effect is */

    a {
      color: $space;
    }

    a:hover {
      color: $mustard;
      transform: scale(1.2);
    }
  }

  .linkedin a {
    font-size: 40px;
    margin: auto 2px auto 5px;
  }

  .mail a {
    font-size: 55px;
  }

  .git a {
    font-size: 40px;
    margin: auto 12px auto 15px;
  }

  .web a,
  .resume a {
    margin: auto 5px;
  }
}
