// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

.modal-header {
  background-color: $gray;
  text-align: center;
  padding-left: 30px;

  .modal-title {
    justify-content: center;
    text-align: center;
  }

  .btn-close {
    background-color: white;
    margin-right: 5px;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  .modal-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: auto;
    // border: 5px dashed lime;
  }

  .modal-name {
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin: 0px auto;
    // border: 1px solid pink;
  }

  .modal-list__left {
    // flex: 1;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    // border: 2px dashed blue;

    .modal-pic {
      width: 200px;
      height: 200px;
      margin: 20px auto;
    }

    .modal-img {
      width: 100%;
      border-radius: 100px;
      border: 5px solid $mustard;
    }

    .modal-devtitle {
      font-family: "Space Mono", sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
      text-align: center;
    }

    //Modal media icons
    .modal-icons {
      text-align: center;
      margin-bottom: 10px;
      // border: 1px solid red;
    }

    .modal-intfact-wrapper {
      background-color: white;
      font-family: "Poppins", sans-serif;
      padding: 5px 8px;
      margin: 10px auto 12px;
      border-radius: 5px;
      border: 1px solid darkgray;
    }

    .modal-interests,
    .modal-fact {
      font-size: 1rem;
      font-weight: 400;
      padding: 5px;
      text-align: left;
      // border: 1px dashed black;
    }

    .modal-pod {
      font-family: "Poppins", sans-serif;
      font-size: 1.1rem;
      background-color: lightgray;
      padding: 5px;
      border: 1px solid rgb(172, 172, 172);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto auto;

      .pod-title {
        margin: 6px auto 3px;
      }

      .pod-wrapper {
        background-color: $platinum;
        border-radius: 5px;
        border: 1px solid darkgray;
        padding: 11px 0px 3px 0px;
        margin: 6px auto;
      }
    }
  }

  .modal-list__right {
    // flex: 1;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    // border: 2px dashed red;

    h4 {
      margin-top: 25px;
    }

    .capstone-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      align-items: center;
      // border: 5px dotted orange;
    }

    .cap1,
    .cap2 {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      // border: 1px solid aqua;

      h5 {
        font-weight: 500;
        margin: 15px auto;
      }
    }
  }
}

.modal-body {
  background-color: $platinum;
  padding-bottom: 20px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $gray;

  .btn {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid $golden;
    padding: 4px 10px;
    margin: 12px 0px 10px 0px;
  }
}
