// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

// Header ===============================
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: $space !important;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;

  p {
    border-right: solid 3px $orange;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Space Mono", monospace;
    font-size: 44px;
    color: $orange;
    margin: auto 0px;
    padding: 0px;
  }

  /* Animation */
  p {
    animation: animated-text 1s steps(12) 1s 1 normal both,
      animated-cursor 600ms steps(12) infinite;
  }

  /* text animation */
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 250px;
    }
  }

  /* cursor animations */
  @keyframes animated-cursor {
    from {
      border-right-color: $golden;
    }
    to {
      border-right-color: transparent;
    }
  }
}

.nav-menu {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    margin: auto 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }

  li {
    margin: 5px 0px 5px 20px;
  }

  a {
    font-weight: 500;
    color: $golden;
    text-decoration: none;

    &:visited {
      color: $golden;
    }
    &:hover {
      color: $orange;
    }
    &:active {
      color: $orange;
    }
  }
}

.navbar-toggler {
  margin-right: 10px;
}

.rsvp {
  margin-left: 10px;
}
