// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

// Header ===============================
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: $space !important;
  font-size: 1.5em;
  font-weight: 600;
  position: fixed;
  z-index: 1000;
  width: 100%;

  .typing-holder {
    width: 350px;
    margin: auto 0px;
    padding-left: 20px;
  }
}

.nav-menu {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    margin: 20px 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    // border: 1px solid aqua;
  }

  li {
    margin: auto 10px;
    font-size: 1.3rem;
    line-height: 1.3em;
    // border: 1px dashed yellow;
  }

  #demoday {
    margin: auto 0px;
  }

  a {
    font-weight: 500;
    color: $golden;
    text-decoration: none;

    &:visited {
      color: $golden;
    }
    &:hover {
      color: $orange;
    }
    &:active {
      color: $orange;
    }
  }

  .nav-item {
    // font-size: 1.5rem;
    // line-height: 1.5rem;
    // border: 1px dotted white;
  }
}

.rsvp {
  margin: auto 20px;
}

.collapsed {
  margin-right: 15px;
}
