// C51 Website Color palette
$midnight: #120000;
$space: #323637;
$gray: #747e80;
$blue: #82bad9;
$orange: #f2583e;
$mustard: #dfb775;
$golden: #f5b467;
$platinum: #ecebea;
// *************************

.thanks-location {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("../images/footer-img.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  h6 {
    color: $midnight;
  }
}

.thanks {
  h4 {
    color: $midnight;
  }
}

.location {
  display: flex;

  h4 {
    color: $midnight;
  }
}

.location-header {
  display: flex;
  flex-direction: column;

  h4 {
    color: $midnight;
  }
}

.location {
  display: flex;

  h4 {
    color: $midnight;
  }
}

.location-header {
  display: flex;
  flex-direction: column;

  h4 {
    color: $midnight;
  }
}

.graphic {
  height: 100px;
}
