body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Space Mono",
    "Roboto", "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace, sans-serif;
}

.logo__img {
  width: 150px;
}